* {
    box-sizing: border-box;
}

.deck {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
    background: -webkit-radial-gradient(50% 38%, #53c230, #138300);
    background: -o-radial-gradient(50% 38%, #53c230, #138300);
    background: -moz-radial-gradient(50% 38%, #53c230, #138300);
    background: radial-gradient(50% 38%, #53c230, #138300);
}

.online {
    color: green;
}

.offline {
    color: gray;
}

.inviting {
    color: #d19c0e;
}

.invited {
    color: #ffff00;
}

.playing {
    color: red;
}

.invite::after{
    content: '';
    margin-bottom: 10px;
}

table.invited_users_list tr:first-child td{
    border-top: none;
}

a.disabled {
    pointer-events: none;
}

.game_invited_user {
    padding: 0;
}

.card > .status-area{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border-bottom-right-radius: 0.68rem;
}

.deck-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 54px;
    left: 0px;
}

.mid {
    position: absolute;
    bottom: 35%;
    left: 50%;
}

#mid-dropable-aria {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}

.seat0 {
    position: absolute !important;
    left: 50%;
    bottom: 8px !important;
}

.seat0-loading {
    width: 0%;
    height: 2px;
    position: absolute;
    bottom:0;
    left:0;
    background-color: blue;
}

.seat2 {
    position:absolute;
    left: 50%;
    top: 58px;
}

.seat2-loading {
    width: 0%;
    height: 2px;
    position: absolute;
    top:50px;
    right:0;
    background-color: blue;
}

@keyframes loading-h {
    0% { width: 0%; }
    100% { width: 100%; }
}

.seat1 {
    position:absolute;
    top: 60%;
    right: 1.5% !important;
}

.seat1-loading {
    width: 2px;
    height: 0%;
    position: absolute;
    bottom: -50px;
    right:0;
    background-color: blue;
}

.seat3 {
    position:absolute;
    top: 60%;
    left: 1.5% !important;
}

.seat3-loading {
    width: 2px;
    height: 0%;
    position: absolute;
    top:50px;
    left:0;
    background-color: blue;
}

@keyframes loading-v {
    0% { height: 0%; }
    100% { height: 100%; }
}

.clear-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.clear-button:focus {
    outline: none;
}

.clear-button:hover span{
    color: #ffffff;
}