* {
    box-sizing: border-box;
}

.deck {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
    background: -webkit-radial-gradient(50% 38%, #53c230, #138300);
    background: -o-radial-gradient(50% 38%, #53c230, #138300);
    background: -moz-radial-gradient(50% 38%, #53c230, #138300);
    background: radial-gradient(50% 38%, #53c230, #138300);
}

.online {
    color: green;
}

.offline {
    color: gray;
}

.waiting {
    color: #ffff00;
}

.playing {
    color: red;
}

.invite::after{
    content: '';
    margin-bottom: 10px;
}

table.invited_users_list tr:first-child td{
    border-top: none;
}

a.disabled {
    pointer-events: none;
}