.friend-requests .dropdown-menu,
.friend-suggests .dropdown-menu,
.friends-list .dropdown-menu {
    padding: 0.3rem;
}

.friend-suggests .card,
.friend-requests .card,
.friends-list .card{
    padding: 0;
}

.friend-list-item .user-status {
    position: absolute;
    top: 1%;
    left: 1%;
}