<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <style>
        body {
            background-image: url('{{ asset("Viaden table2.jpg") }}');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>
<body>
</body>
</html>